/******************** 
Responsive Media Queries 
********/
/*************
FONTS 
*/
@import url("https://fonts.googleapis.com/css?family=Anton|Roboto:400,500|Shadows+Into+Light");
@import url("https://fonts.googleapis.com/css?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "roboto";
  width: 100%;
  height: 100vh;
  margin: 0 !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  height: 70px;
  background-color: #7db9d1;
}

header .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

@media (min-width: 900px) {
  header .navbar {
    padding-right: 50px;
  }
}

header .navbar .logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 20px;
}

header .navbar .logo a {
  font-family: "IBM Plex Sans";
  color: transparent;
  font-size: 24px;
  -webkit-text-stroke: 1px #fff7f0;
  letter-spacing: 3px;
  text-decoration: none;
}

header .navbar .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header .navbar .main-nav li {
  margin: 0 0 0px 15px;
}

@media (min-width: 900px) {
  header .navbar .main-nav li {
    margin: 0 0 0px 25px;
  }
}

header .navbar .nav-links {
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #1f1f1f;
  font-family: "Shadows into light";
  position: relative;
  text-decoration: none;
}

@media (min-width: 900px) {
  header .navbar .nav-links {
    font-size: 24px;
  }
}

header .navbar .nav-links:hover {
  color: #1f1f1f;
}

header .navbar .nav-links:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff7f0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

header .navbar .nav-links:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*******
  MAIN CONTENT 
  */
main {
  margin-top: 70px;
}

main .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .landing .message {
  height: 100vh;
  background-color: #7db9d1;
  width: 100%;
  font-family: "Shadows into light";
  font-size: 12px;
  color: #1f1f1f;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .landing .message p {
  padding-top: 20px;
  padding-bottom: 30px;
}

@media (min-width: 900px) {
  main .landing .message p {
    font-size: 16px;
  }
}

@media (min-width: 1800px) {
  main .landing .message p {
    font-size: 18px;
  }
}

main .landing .message a {
  color: white;
}

main .landing .message a i {
  font-size: 36px;
  color: white;
}

main .landing .message img {
  max-width: 80%;
}

@media (min-width: 900px) {
  main .landing .message img {
    max-width: 30%;
  }
}

main .landing .mainContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

@media (min-width: 600px) {
  main .landing .mainContent {
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  main .landing .mainContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 900px) {
  main .landing .mainContent .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  main .landing .mainContent .img-container {
    width: 50%;
  }
}

main .landing .mainContent .img-container img {
  max-width: 100%;
}

@media (min-width: 900px) {
  main .landing .mainContent .img-container img {
    max-width: 70%;
  }
}

@media (min-width: 900px) {
  main .landing .mainContent .content .content {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .landing .mainContent .content p {
  visibility: hidden;
}

@media (min-width: 900px) {
  main .landing .mainContent .content p {
    visibility: visible;
    font-size: 18px;
    font-family: "saatlische";
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 900px) {
  main .landing .mainContent .content span {
    font-family: "IBM plex sans";
    color: transparent;
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 2px;
    -webkit-text-stroke: 4px #7db9d1;
  }
}

main .landing .button {
  margin-top: 0;
}

@media (min-width: 900px) {
  main .landing .button {
    font-size: 18px;
    margin-top: 50px;
  }
}

main .landing .button .link {
  background-color: #1f1f1f;
  padding: 10px 25px 10px 25px;
  color: #fff7f0;
  text-decoration: none;
  font-family: "shadows into light";
  border-radius: 5%;
  font-size: 16px;
  text-transform: uppercase;
}

main .landing .button .link:hover {
  background-color: #7db9d1;
  -webkit-transition: background-color ease-in 0.3s;
  transition: background-color ease-in 0.3s;
}

@media (min-width: 900px) {
  main .landing .button .link {
    font-size: 18px;
  }
}

.aboutContent {
  background-color: #fff7f0;
}

.aboutContent p {
  color: #1f1f1f;
}

.aboutContent .img-container {
  padding: 0;
}

@media (min-width: 900px) {
  .aboutContent .img-container {
    padding: 5rem;
  }
}

@media (min-width: 1200px) {
  .aboutContent .img-container {
    padding: 0rem;
  }
}

.story {
  background-color: #1f1f1f;
}

.story .img-container {
  padding: 2rem;
}

.story .story-content p {
  color: #fff7f0;
}

.story .story-content .button_story .link {
  background-color: #f25d07;
  color: #fff7f0;
}

.story .story-content .button_story .link:hover {
  background-color: #7db9d1;
}

footer {
  background-color: #7db9d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .copy {
  color: #1f1f1f;
  font-family: "Shadows into light";
  font-size: 16px;
}

footer .copy a {
  color: #1f1f1f;
  font-family: "saatlische";
}

footer .socials {
  font-size: 48px;
  color: #fff7f0;
  padding: 1rem;
}

footer .socials i {
  padding-right: 15px;
}
/*# sourceMappingURL=main.css.map */