@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

header {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
}
h6 {
  position: relative;
  left: 40px;
  top: 22px;
  text-transform: uppercase;
  color: #e0902f;
  font-size: 16px;
  font-family: "Josefin Sans";
}
a {
  text-decoration: none;
  color: #232323;
  font-family: "Josefin Sans";
  transition: color 0.3s ease;
}

a:hover {
  color: #e0902f;
}

.menu-toggle {
  display: block;
  position: relative;
  top: 50px;
  left: 300px;
  z-index: 1;
}

.menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 7px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  border: 2px solid black;
}

.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  width: 400px;
  margin: -100px 0 0 -100px;
  padding: 30px;
  padding-top: 125px;
  background: #89c1d6;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(100%, 0%);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.menu li {
  padding: 10px 0px;
  font-size: 16px;
  text-transform: uppercase;
}

.menu-toggle input:checked ~ ul {
  transform: none;
}

/************************************************
* MAIN CONTENT 
*************************************************/
main {
  background-color: #e0902f;
  height: 100vh;
  width: 100%;
  padding: 50px;
}

img {
  max-width: 100%;
}
