@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

* {
  padding: 0;
  margin: 0;
}

header {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("images/mobilePhoto.jpg");
    background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  overflow-x: hidden;

}

nav {
  position: fixed;
  top: 0;
  z-index: 5;
  color: #edf7f8;
  height: 50px;
}
h6 {
  position: relative;
  left: 40px;
  top: 25px;
  text-transform: uppercase;
  color: #c05e00;
  font-size: 16px;
  font-family: "Josefin Sans";
  


}

h3 {
  font-family: "Josefin Sans";
  font-size: 16px;
  color: #c05e00;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  top: 36rem;
  left: 8rem;
  z-index: 1;
  
}
a {
  text-decoration: none;
  color: #232323;
  font-family: "Josefin Sans";
  transition: color 0.3s ease;
}

a:hover {
  color: #e0902f;
}

.menu-toggle {
  display: block;
  position: relative;
  top: 50px;
  left: 270px;
  z-index: 3;
}

.menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 7px;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
}

.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #f1f3f5;
  border-radius: 3px;
  z-index: 3;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  width: 400px;
  margin: -100px 0 0 -100px;
  padding: 30px;
  padding-top: 125px;
  background: #89c1d6;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(100%, 0%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 2;
}
.menu li {
  padding: 10px 0px;
  font-size: 16px;
  text-transform: uppercase;
}

.menu-toggle input:checked ~ ul {
  transform: none;
}

.menu-desktop{
  display: none;
}

/************************
* DESKTOP VERSION NAV 
*************************/
@media only screen and (min-width:600px){
  .menu{
    margin: -100px 0 0 350px;
  }

  
 
}

@media only screen and (min-width: 1100px){
  .menu{
   display: block;
   position: absolute;
  }
  .menu-toggle{
    display: none;
  }
 
  
  header {
    background-image: url("images/landingPhoto.jpg");
    background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;

    
  }

  .nav-d{
    position: fixed;
    height: 40px;
    background-color: #edf7f8;
    
  }

  .menu-desktop{
  display: flex;
  justify-content: flex-start;
    list-style-type: none;
    margin-left: 5px;
    position: relative;
    bottom: 15px;
  
  
    
 
  }

 .menu-desktop li{
   font-family:'Josefin Sans';
    color: #CD640D;
    font-weight: 400;
    text-transform: uppercase;
  
    
  }

.menu-desktop a{
   
  font-size: 16px;
    text-align: center;
    margin: 5px 15px 0 15px;
   padding: 25px 15px 25px 5px;
  

  }

  .menu-desktop li:hover{
    -webkit-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
        color: #0F090A;
  }



}



/***********************************
********* General stylings**********
***********************************/

main {
  padding: 0;
  margin: 0;
  width: 100%;
}

p{
  color: #edf7f8;
  overflow: auto;
 


}

p > span {
  font-size: 48px;
}

/*************************************************
ODIE SECTION 1
*
*************************************************/

.content-container {
  width: 100%;
  background-image: url("images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.MO-heading{

  display: flex;
  justify-content: center;
  align-items: center;

}


.content-container > p {
 border: 2px red solid;
  text-align: left;
  
}



.MO-heading > img {
max-width: 100%;
border: 2px solid red;
 
}


/************************
* DESKTOP ODIE SECTION 1
*************************/
@media only screen and (min-width: 1100px){


  .content-container, .content-container > p{
    height: 100vh;
  }

  .MO-heading{
    height: 30vh;
  }
}



/***********************************
********* ODIE SECTION 2**********
***********************************/

.section-2 {
  padding: 0;
  margin: 0;
 width: 100%;
  background-color: #3a5258;
 height: 100vh;
 border: 2px solid red;
 overflow-x: hidden;
 overflow-y: scroll;
}


.s2-heading > h3 {
font-family: "Josefin Sans";
font-weight: 700;
color:transparent;
font-size: 36px;
-webkit-text-stroke: 2px black;
border: 2px solid red;

}

.s2-heading > img {
max-width: 100%;
}


.section-2 > p {
  text-align: left;
 
  border: 2px solid white;
 
}

p > .Cap {
  font-size: 48px;
}



/***********************************
********* ODIE SECTION 3**********
***********************************/

.section-3 {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #CD640D;
  display: flex; 
 justify-content: center;
 flex-direction: column;
 align-items: center;
 height: 100vh;
}


.s3-heading {
font-family: "Josefin Sans";
font-weight: 700;
color:transparent;
font-size: 36px;
-webkit-text-stroke: 2px white;
 

}

.section-3 > img {
 display: inline;
  padding: 20px;
max-width: 100%;
}


.section-3 > p {
  
  text-align: left;
  padding: 35px;
}

p > .Cap {
  font-size: 48px;
}

/***********************************
********* ODIE SECTION 4**********
***********************************/



.section-4 {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: black;
  display: flex; 
 justify-content: center;
 flex-direction: column;
 align-items: center;
}


.s4-heading {
 
position: relative;
top: 200px;
font-family: "Josefin Sans";
font-weight: 700;
color:transparent;
font-size: 36px;
-webkit-text-stroke: 2px #8cc3d8;
 

}

.section-4 > img {
 display: inline;
  padding: 20px;
max-width: 100%;
}


.section-4 > p {
  background-color:  rgba(15,9, 10, .7 );
  text-align: left;
  padding: 35px;
}

p > .Cap {
  font-size: 48px;
}


/***********************************
********* ODIE FOOTER**********
***********************************/


footer{
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 50px;
  grid-template-areas: 
  '. top .'
  'spotify tribute year';
  font-family: 'Josefin Sans';
  

}

.btt{
  display: flex;
  justify-content: center;
  grid-area: top;
  padding-top: 10px;
  
}

.spotify{
  display: flex;
  justify-content: flex-start;
  grid-area: spotify;
  padding: 15px;
}

.tribute{
  display: flex;
  justify-content: center;
  grid-area: tribute;
  font-weight: 700;
  
}

.year{
  display: flex;
  justify-content: flex-end;
  grid-area: year;
  padding: 15px;
}