@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");

* {
  padding: 0;
  margin: 0;
}

header {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("images/Odie.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
}
h6 {
  position: relative;
  left: 40px;
  top: 22px;
  text-transform: uppercase;
  color:#C05E00;
  font-size: 16px;
  font-family: "Josefin Sans";
}

h3{
  font-family: "Josefin Sans";
  font-size: 16px;
  color: #F1F3F5;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  top: 36rem;
  left: 8rem;
}
a {
  text-decoration: none;
  color: #232323;
  font-family: "Josefin Sans";
  transition: color 0.3s ease;
}

a:hover {
  color: #e0902f;
}

.menu-toggle {
  display: block;
  position: relative;
  top: 50px;
  left: 270px;
  z-index: 1;
}

.menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 7px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;

}

.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background:  #F1F3F5;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  width: 400px;
  margin: -100px 0 0 -100px;
  padding: 30px;
  padding-top: 125px;
  background: #89c1d6;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(100%, 0%);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.menu li {
  padding: 10px 0px;
  font-size: 16px;
  text-transform: uppercase;
}

.menu-toggle input:checked ~ ul {
  transform: none;
}


/*************************************************
MEET ODIE SECTION 
*
*************************************************/

main{
  
  width: 100%;
  background-image: url('images/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 0;
  margin: 0;

}


.MO-heading{
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 30px;
}

ul{
 list-style: none;
 padding: 0;
 margin: 0;
}

.About-heading li{
  font-family: "Josefin Sans";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: #ffff .5px;
  letter-spacing: 3px;
}

.About-heading li:last-child{
  color: #e0902f;
  -webkit-text-stroke:0;
}


main > p{
  background-color: white;
  padding : 20px;
  
}

p > span{
  font-size:48px;
}

.MO-heading > img{
 display: flex;
 justify-content: center;
 
}

