@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade");

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header {
  overflow-x: hidden;
  overflow-y: hidden;
}

.landingimg {
  width: 100%;
  padding: 0;
  margin: 0;
}
nav {
 
  height: 50px;
  background-color: black;
}
h6 {
  position: relative;
  left: 40px;
  top: 25px;
  text-transform: uppercase;
  color: #c05e00;
  font-size: 16px;
  font-family: "Josefin Sans";
}

h3 {
  font-family: "Josefin Sans";
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 1;
  position: absolute;
  bottom: 50%;
  left: 30%;
  right: 50%;
  width: 100%;
  

}
a {
  text-decoration: none;
  color: white;
  font-family: "Josefin Sans";
  transition: color 0.3s ease;
}

a:hover {
  color: #e0902f;
}

.menu-desktop {
  display: flex;
  justify-content: center;
  padding-right: 15px;
  line-height: 50px;
}

.menu-desktop li {
  padding-right: 15px;
}
/***********************
MOBILE HAM NAV STYLES 

.menu-toggle {
  display: block;
  position: relative;
  top: 50px;
  left: 270px;
  z-index: 3;
}

.menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 7px;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
}

.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 3;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  width: 400px;
  margin: -100px 0 0 -100px;
  padding: 30px;
  padding-top: 125px;
  background: #89c1d6;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(100%, 0%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 2;
}
.menu li {
  padding: 10px 0px;
  font-size: 16px;
  text-transform: uppercase;
}

.menu-toggle input:checked ~ nav {
  transform: none;
}
***********************/

/************************
* DESKTOP VERSION NAV 
*************************/
@media only screen and (min-width: 600px) {
  .menu {
    margin: -100px 0 0 350px;
  }
}

@media only screen and (min-width: 1100px) {
  .menu {
    display: block;
    position: absolute;
  }
  .menu-toggle {
    display: none;
  }

 
  .nav-d {
    position: fixed;
    height: 40px;
    background-color: #edf7f8;
    padding: 0;
    margin: 0;
  }

  .menu-desktop {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-left: 5px;
    position: relative;
    bottom: 15px;
  }

  .menu-desktop li {
    font-family: "Josefin Sans";
    color: #cd640d;
    font-weight: 400;
    text-transform: uppercase;
  }

  .menu-desktop a {
    font-size: 16px;
    text-align: center;
    margin: 5px 15px 0 15px;
    padding: 25px 15px 25px 5px;
  }

  .menu-desktop li:hover {
    -webkit-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
    color: #0f090a;
  }
}

/***********************************
********* General stylings**********
***********************************/

main {
  padding: 0;
  margin: 0;
  width: 100%;
}

p {
  color: #fbfbfb;
  font-size: 12px;
  font-family: 'Josefin Sans';
}

p > span {
  font-size: 48px;
}

.container {
  overflow-y: hidden;
  overflow-x: hidden;
 
}

form{
  
height: 64px;
  
}
button{
  overflow: hidden;
  border: none;
  background: none;
  font-size: 16px;
  font-family: 'Josefin Sans';
 
 
}

.button {
  position: relative;
  color: white;
  width: 150px;
  height: 50px;
  line-height: 50px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
 
}

.button::before, .button::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  top: 0;
  bottom: 0;
  right: 0;
  width: 98%;
  height: 95%;
  z-index: 1;
}

.button::before {
  left: 4px;
  z-index: 1;

opacity: 0;
background: rgba(255, 255, 255, 0.1);
transform: scale(0.1, 1);
}
.button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.button::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.button:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}
p,
form,
h1 {
  padding: 1rem;
}



p > .Cap {
  font-size: 48px;
}

h1{
  font-family: 'Bungee Shade';
  position: relative;
  top: 40px;
  font-size:36px;
  
}
img{
position: relative;
top: 40px;
}

/*************************************************
ODIE SECTION 1
*
*************************************************/

.section1 {
  padding: 15px;
  margin: 0;
  background-color: #8dc8d8;
  border: 2px solid red;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.header-about{
  text-align: left;
  
  
}

.section1 > p {
  text-align: left;
  
}

.section1 > img {
  max-width: 100%;
}

.button-form-1{
  display: flex;
  justify-content: flex-start;
}



/************************
* DESKTOP ODIE SECTION 1
*************************/
@media only screen and (min-width: 1100px) {
  .content-container,
  .content-container > p {
    height: 100vh;
  }

  .MO-heading {
    height: 30vh;
  }
}

/***********************************
********* ODIE SECTION 2**********
***********************************/

.section2 {
  padding: 15px;
  margin: 0;
  background-color: #3a5258;
 
}

.content-2 > h1 {
  text-align: right;
  color: #cd640d;
}

.section2 > img {
  max-width: 100%;
}

.content-2 > p {
  text-align: right;
}

form{
  display: flex;
  justify-content: flex-end;
}

.button-form{
  display: flex;
  justify-content: flex-end;
  border: 2px solid red;

}

/***********************************
********* ODIE SECTION 3**********
***********************************/
.section3 {
  padding: 15px;
  margin: 0;
  background-color: #cd640d;
}

.content-3 > h1 {
}

.section3 > img {
  max-width: 100%;
}

.content-3 > p {
  text-align: left;
}

.button-form-3{
  display:flex;
  justify-content: center;
}


/***********************************
********* ODIE SECTION 4**********
***********************************/

.section4 {
  padding: 15px;
  margin: 0;
  background-color: #414141;
}

.header-4{
  color: #cd640d;
}

 .img-4{
position: relative;
top: 40px;
}

.content-4 > h1 {
}

.section4 > img {
  max-width: 100%;
}

.content-4 > p {
  text-align: left;
}

.button-form-4{
  display: flex;
  justify-content: flex-start;
}
/***********************************
********* ODIE FOOTER**********
***********************************/

footer {
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 50px;
  grid-template-areas:
    ". top ."
    "spotify tribute year";
  font-family: "Josefin Sans";
}

.btt {
  display: flex;
  justify-content: center;
  grid-area: top;
  padding-top: 10px;
}

.spotify {
  display: flex;
  justify-content: flex-start;
  grid-area: spotify;
  padding: 15px;
}

.tribute {
  display: flex;
  justify-content: center;
  grid-area: tribute;
  font-weight: 700;
}

.year {
  display: flex;
  justify-content: flex-end;
  grid-area: year;
  padding: 15px;
}
